/* added font */ 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {

	/* use gradient on background */
	background-image: linear-gradient(
		to top,
		#FFECB3 0%,
		#F7E1A0 47%,
		#FCA249 100%
	);
	text-align: center;
	font-family: "Roboto", Arial;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;	
}
header {
	background-color:#689F38;
	background:url("./images/IMG_0049.jpg") center center no-repeat;
	position: relative;
	background-size: cover;
	padding: 0;
	z-index: 999;
	height: 200px;
	display:flex;	
	justify-content:center;
	align-items:center;
}
h1 {
   font-size: 18px;
   color: wheat;
   text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

nav {
	margin: 0 0 0 0px;
	padding: 0;
	background-color: #FFC107;
	color:white;
	width:100%;
	float:left;
}

nav a {
	transition: all 0.5 ease;
	color:white;
	text-decoration:none;
}
nav a:hover {
	color:black;
}

nav a:active {
	color:red;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: white;
}

li {
  padding:2px 0px;
}
	 
#container {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	float:left;
}
#content {
	float:left;
	width:95%;
	padding:2.5%;
	background-color:white;
	display:flex;
    align-items:center;
	justify-content:flex-start;
	flex-direction:column;
	text-align: justify;
}

p {
   color: black;
   line-height: 1.25;
   font-size: 16px;
   background-color: white;
   float:left;
}
p::first-letter{
	color:#FFC107 ;
	font-weight:bold;
	font-size: 150%;
}
/* transition for image starts here*/
#image-container{
	position:relative;
	width: 266px;
	height: 240px;	
}
#image-container img{
	position:absolute;
	transition: opacity 1s ease-in-out;	
}
#image-container img.top:hover{
	opacity:0;
}

h4.comment{
	position:absolute;
	bottom:0;
	left:41%;
}

img {
	width: 250px;
	height: 200px;
	border: 8px solid #FFC107;
	border-radius: 25px;
}	

section{
	padding:2px;
}

h3 {
	font-weight:bold;
	float:left;
	margin:10px 0px;
}

.hiddenContent {
  display:none;
}

.showButton{
   font-size: 16px;
   margin-top: 10px;
   color: #FFC107;
   float:left;
   width:100%;
}
.showButton:hover{
	cursor:pointer;
	color:#000;
}

/* style for 1240 px */
@media screen and (min-width: 1240px) {
	header{
		height: 330px;
	}
		
	h1{
	   font-size: 38px;
	   position: absolute;
	   top:280px;
	   left:10px;
	}
	
	ul{
	  list-style-type: none;
	  padding-left: 0;
	  background-color: #4CAF50;
	}
	
	li{
	  float:left;
	  margin: 0px 40px;
	  padding:10px 0px;
	 }
	
	 li:hover{
		color:blue;
		padding:10px 0px;
	 }
	 
	section{
		 width: 48%;
		 padding:1%;
		 float:left;
	}
	.clearfix:after {
		content: "";
		display: table;
		clear: both;
	}
	
	#wrapper{
		width: 940px;
		text-align: justify;
	}
	
	#content{
		width:100%;
		padding:0%;
		display:block;		
	}
	
	#image-container{
		width: 416px;
		height: 340px;	
	}	

	#image-container h4.comment{
		position:absolute;
		bottom:0;
		left:44%;
	}	
	
	img{
		width: 400px;
		height: 300px;
		float:left;
		margin:1px 25px;
	}	

}
